div = f.label :number, 'Number*'
div = f.text_field :number
div = f.label :post_index, 'Post index*'
div = f.text_field :post_index
div = f.label :building_address, 'Building address*'
div = f.text_field :building_address
