li
  = link_to wish_list_item.product_name, product_path(wish_list_item.product_id)
  | |
  =< link_to 'Destroy', wish_list_item_path(wish_list_item.id), method: :delete, data: { confirm: 'Are you sure you want to delete this wish list' }
