div In-stock products
ul = render @products.in_stock
hr
div Out of stock products
ul = render @products.out_of_stock
hr
- if current_user.admin
  div Archived products
  ul = render @products.archived
